@charset "utf-8";



/*-------------------------------

btnStyle

-------------------------------*/


.btnStyleInline a{
	display:inline-block;
	border:1px solid #999999;
	color:#333333;
	font-size:108.4%;
	text-align:center;
	padding-top:15px;
	padding-bottom:13px;
	padding-left:33px;
	padding-right:33px;
	background:url(../images/com_ic05.gif) no-repeat right bottom;
	cursor:pointer;
	line-height:1.3;
}
.btnStyleInline a span{
	font-weight:bold;
}
.btnStyleInline a:hover{
	color:#FFF;
	background:#d593c2 url(../images/com_ic06.gif) no-repeat right bottom;
	border:1px solid #d593c2;
}

.btnStyle01 a{
	display:block;
	border:1px solid #999999;
	color:#333333;
	font-size:108.4%;
	text-align:center;
	padding-top:15px;
	padding-bottom:13px;
	background:url(../images/com_ic05.gif) no-repeat right bottom;
	cursor:pointer;
	line-height:1.3;
}
.btnStyle01 a span{
	font-weight:bold;
}
.btnStyle01 a:hover{
	color:#FFF;
	background:#d593c2 url(../images/com_ic06.gif) no-repeat right bottom;
	border:1px solid #d593c2;
}





